@model TasksModel
@{
    ViewData["Title"] = "Task Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<div class="container mt-4">
    <div class="jumbotron bg-dark text-center text-white p-4">
        <h1> @ViewData["Title"] - Sub Category : @Model.SubCategory.SubCategoryName </h1>
        <a class="btn btn-outline-success mt-2" asp-controller="AdminPost" asp-action="Manage"> Back to Home <i class="fa fa-arrow-left"></i> </a>
    </div>
    <div>

        @if (Model != null)
        {
            <div class="bg-gradient">
                 <dl>
                     <dt class="display-4"><b>@Model.TaskTitle </b> Posted by <i> @Model.PostedBy.UserName  </i> </dt>
                     <dt> Description </dt>
                     <dd> @Model.TaskDetails </dd>
                     <dt> Price: </dt>
                     <dd> <b> @Model.Budget </b> </dd>
                    <dt> Address </dt>
                    <dd> @Model.Address </dd>
                    <dt> Posted on </dt>
                    <dd> @Model.DateOfAssiging </dd>
                    <dt> Completation Date </dt>
                    <dd> @Model.DueDate  </dd>
                    @* <dt> Tasker assigned </dt>
                    if(@Model.Tasker.UserName == null){
                    <dd> No one assigned. </dd>
                    }
                    else{
                    <dd>  @Model.Tasker.UserName  </dd>
                    }*@

                 </dl>
                 <div>
                    <a class="btn btn-success" asp-action="ApprovelTask"  asp-controller="AdminPost"  asp-route-filter ="a" asp-route-id="@Model.TaskId"> Approve Task </a>
                    <a class="btn btn-danger" asp-action="ApprovelTask" asp-controller="AdminPost" asp-route-filter="r" asp-route-id="@Model.TaskId"> Reject Task </a>
                     </div>
            </div>
        }
        else
        {
            <div class="text-center">
                <h1> @TempData["message"] </h1>
            </div>
        }
    </div>
</div>
