@model IEnumerable<UserModel>
@{
    ViewData["Title"] = "Manage Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="text-center">
    <h1 class="display-4"> Manage Users  </h1>
</div>


@if (@ViewBag.Role != "super admin")
{
    <div class="mt-5 text-center">
        <h1>You are not an authorized person to view this page </h1>
        <p> Login as super admin to access this page </p>
    </div>
}
else
{
    <div class="mt-5">
        <table class="table table-borderless table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th> Login Id </th>
                    <th> Name </th>
                    <th> Username </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> Recommended </th>
                    <th> Status </th>
                    <th> Role </th>
                    <th> Actions </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                    @if(user.Role.RoleName!= WebUtils.SUPER_ADMIN_ROLE)
                    {                        
                        <tr>
                        <th> @user.UserName </th>
                        <td> @user.FirstName,@user.LastName  </td>
                        <td> @user.UserName </td>
                        <td> @user.Email </td>
                        <td> @user.PhoneOne </td>
                        <td>
                            @if (user.IsRecommended == true) { <span> Recommended</span> }
                            else { <span>Not Recommended</span>}
                        </td>
                        <td>
                            @if (user.IsApproved == true) { <span>Approved</span> }
                            else { <span>Not Approved</span>  }
                        </td>
                        <td> @user.Role.RoleName</td>
                        <td>
                            <a class="btn btn-outline-primary" asp-action="Profile" asp-controller="User" asp-route-name="@user.UserName">
                                <i class="fa fa-search"></i>
                            </a>
                            
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Admin" asp-route-id="@user.UserId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
