@model List<TasksModel>
@{
    ViewData["Title"] = "All Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["message"] != null)
{
    <div class="container alert alert-warning alert-dismissible fade show" style="background-color:#d5d5d7;" role="alert">
        @TempData["message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container mt-4">
    <div class="jumbotron bg-dark text-center text-white p-4">
        <h1> @ViewData["Title"]</h1>
    </div>

    <div>
        @if (Model != null)
        {
            <div class="mt-2">
                @foreach (var item in Model)
                {
                    <div class="mt-2 card row">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-4">
                                    <h5 class="card-title"> @item.TaskTitle - @item.PostedBy.UserName </h5>
                                    <h6 class="card-subtitle mb-2 text-muted"> Rs: @item.Budget\- </h6>
                                    <p class="">
                                        <b> Address</b> <i>@item.Address</i>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <h4>Details:</h4>
                                    <p class="card-body"> @item.TaskDetails </p>                                    
                                </div>
                            </div>    

                          
                            <div class="row">                                
                                    <a class="btn btn-primary m-5 col" asp-controller="Offer" asp-action="TaskDetails" asp-route-id="@item.TaskId"> View Task </a>
                                    <a class="btn btn-success m-5 col" asp-controller="Offer" asp-action="TaskDetails" asp-route-id="@item.TaskId"> Offer </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-center">
                <h1> @TempData["message"] </h1>
            </div>
        }
    </div>
</div>
