@model List<ContactModel>

@{
    ViewData["Title"] = "Manage Queries";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <div class="jumbotron bg-dark text-center text-white p-4">
        <h1> @ViewData["Title"] </h1>
    </div>
    <div>

        @if (Model != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Description</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dept in Model)
                    {
                        <tr>
                            <td>@dept.Id</td>
                            <td>@dept.Email</td>
                            <td>@dept.Details</td>
                            <td>
                                 <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@dept.Id"> <i class="fa fa-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center">
                <h1> @TempData["message"] </h1>
            </div>
        }
    </div>
</div>
